<h3><%= (Time.now + 8.hour).strftime("%m-%d") %>
总下载: <%= @today_downloads %>
</h3>
<br/>
<% @nodes.each do |node| %>
  <%= node.name %>
  <table class="table table-bordered">
    <tr>
      <%# <th>mac地址</th> %>
      <th>主机名称</th>
      <th>当天下载次数</th>
      <th>昨天下载次数</th>
      <th>前天下载次数</th>
    </tr>
    <% node.macs.each do |mac| %>
      <tr>
        <%# <td><%= mac.mac_address %1></td> %>
        <td>
          <%= link_to mac_path(mac) do %>
            <%= mac.name %>
          <% end %>
        </td>
        <td><%= mac.mac_today_downloads(0) %></td>
        <td><%= mac.mac_today_downloads(1) %></td>
        <td><%= mac.mac_today_downloads(2) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
