<h3><%= (Time.now + 8.hour).strftime("%m-%d") %>
总下载: <%= @today_downloads %>
</h3>
<br/>
<% @nodes.each do |node| %>
  <%= node.name %>
  <table class="table table-bordered">
    <tr>
      <%# <th>mac地址</th> %>
      <th>主机名称</th>
      <th>当天下载</th>
      <% i = 0 %>
      <% while i <= 5 %>
        <th><%= i + 1 %>天前下载</th>
        <% i = i + 1 %>
      <% end %>
    </tr>
    <% node.macs.each do |mac| %>
      <tr>
        <%# <td><%= mac.mac_address %1></td> %>
        <td>
          <%= link_to mac_path(mac) do %>
            <%= mac.name %>
          <% end %>
        </td>
        <td><%= mac.mac_today_downloads(0) %></td>
        <td><%= mac.mac_today_downloads(1) %></td>
        <td><%= mac.mac_today_downloads(2) %></td>
        <td><%= mac.mac_today_downloads(3) %></td>
        <td><%= mac.mac_today_downloads(4) %></td>
        <td><%= mac.mac_today_downloads(5) %></td>
        <td><%= mac.mac_today_downloads(6) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
