<ul class="nav">
  <li>
    <%= link_to "IObit", root_path, :class => 'brand' %>
  </li>
  <div class='nav_item'>
    <%= link_to 'Day', cnet_path, class: 'btn' %>
  </div> 
  <div class='nav_item'>
    <%= link_to 'Week', '#', class: 'btn' %>
  </div> 


  <% if logged_in? %>
    <div class='btn-group nav_item'>
      <%= link_to('#', class: 'btn dropdown-toggle', 'data-toggle' => 'dropdown') do %>
        <%= current_user.username %> 
        <span class='caret'></span>
      <% end %>
      <ul class='dropdown-menu'>
        <li>
          <%= link_to edit_user_path(current_user) do %>
            <i class='icon-pencil'></i>
            edit profile
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user) do %>
            <i class='icon-user'></i>
            view profile
          <% end %>
        </li>
        <li>
          <%= link_to logout_path do %>
            <i class='icon-circle-arrow-left'></i>
            logout
          <% end %>
        </li>      
      </ul>
    </div>   
  <% else %>
    <div class='nav_item'>
      <%= link_to 'Register', register_path, class: 'btn btn-success ' %>
    </div>
    <div class='nav_item'>
      <%= link_to 'Log in', login_path, class: 'btn ' %>
    </div>
  <% end %>

  <!-- <div class='btn-group nav_item'>
    <%= link_to '#', class: 'btn dropdown-toggle', 'data-toggle' => 'dropdown' do %>
      Time Zone: Beijing <span class='caret'></span>
    <% end %>
    <ul class='dropdown-menu'>
        <li>
          <%= link_to 'Beijing', '#' %>
        </li>
        <li>
          <%= link_to 'America', '#' %>
        </li>
        <% if logged_in? %>
          <li class='divider'></li>
          <li>
            <%= link_to '#' do %>
              <i class='icon-plus'></i>
              New Time Zone
            <% end %>
          </li>
        <% end %>

    </ul>
  </div> -->
  
</ul>
